.ShopUnits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .2rem;
}

.Unit_empty,
.Unit {
    display: grid;
    grid-template-rows: 8fr 2fr;
    color: #FFFFFF;
}

.Unit:hover {
    cursor: pointer;
    transform: scale(.95);
}

.Unit_imageContainer {
    position: relative;
}

.Unit_image {
    height: 100%;
    width: 100%;
}

.Unit_traitsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.Unit_nameplateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}