.GameForm {
    width: 100%;
    background-color: #213847e0;
    border: solid 1px #917a49;
    z-index: 2;
    display: grid;
    grid-template-rows: auto repeat(4, 1fr);
}

.GameForm_header{
    text-align: center;
    color: #FFFFFF;
}

.GameForm_label,
.GameForm_number {
    color: #FFFFFF;
}

.GameForm_inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.GameForm_buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.GameForm_formButtonsContainer {
    display: grid;
    place-items: center;
    gap: 2rem;
}