.GameForm {
    width: 100%;
    background-color: blue;
    border: solid 1px #000000;
    z-index: 2;
}

.GameForm_header{
    text-align: center;
}

.GameForm_levelcontainer {
    display: flex;
    justify-content: space-around;
}