.GameTimer {
    position: absolute;
    top: 1%;
    left: 50%;
    background-color: #213847;
    border: solid 1px #917a49;
    padding: 1rem 1rem;
    display: grid;
    gap: 1rem;
}

.GameTimer_text {
    color: #FFFFFF;
}